@model X.PagedList.IPagedList<DokumentDto>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

<div class="mt-2 ml-3">
    <a class="btn btn-primary text-light pl-4 pr-4" onclick="Action(null,'Dokument','CreateOrEdit')">Dodaj</a>
</div>

<div class="card-body">
    <div class="row">
        <div class="col-2">
            @using (Html.BeginForm("Index", "Dokument", FormMethod.Get))
            {
                @Html.DropDownList("pagingInfo.PageSize", new List<SelectListItem>
               {
                    new SelectListItem(){Text="10",Value="10", Selected=true},
                    new SelectListItem(){Text="20",Value="20"},
                    new SelectListItem(){Text="30",Value="30"}
               }, new { @class = "form-select", onchange = "this.form.submit()" })
            }
        </div>
        <div class="col-2 pt-2">
            <span>@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount (rekordów: @Model.TotalItemCount)</span>
        </div>
        <div class="text-center col-4 pt-2">
            <span>Dokumenty</span>
        </div>
        <div class="col-2 offset-2 mb-2">
            @using (Html.BeginForm("Index", "Dokument", FormMethod.Get))
            {
                @Html.TextBox("pagingInfo.SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Szukaj", @class = "form-control search-input" })
            }
        </div>
    </div>
    <table id="dataTable" class="table table-hover table-responsive rounded">
        <thead class="thead-dark">
            <tr>
                <th>
                    Nazwa dokumentu
                </th>
                <th>
                    Plik
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="cursor:pointer" onclick="Action(@item.IdDokumentu,'Dokument', 'Details');">
                    <td>
                        @Html.DisplayFor(modelItem => item.NazwaDokumentu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UrlDokumentu)
                    </td>
                    <td class="text-center">
                        @*title="<br>Dodano przez: @item.CreatedByName </br><br>Data dodania: @item.CreateDate </br>
                            <br>Modyfikowano przez:@item.EditedByName </br><br>Data modyfykacji: @item.EditDate</br>">*@

                        <form asp-action="Delete" asp-route-id="@item.IdDokumentu">

                            <button type="button" style="width:40px;" onclick="Action(@item.IdDokumentu,'Dokument','CreateOrEdit');" class="btn-sm btn-light mr-3"><i class="fa fa-pencil-alt text-info"></i></button>

                            <button type="button" style="width:40px;" class="btn-sm btn-light" data-html="true" data-toggle="tooltip" data-placement="right">
                                <i class="fa fa-info small text-success"></i>
                            </button>

                            <button type="submit" style="width:40px;" class="btn-sm btn-light ml-3"
                                    onclick="return confirm('Czy na pewno chcesz usunąć dokument?')">
                                <i class="fa fa-trash-alt small text-danger"></i>
                            </button>

                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="float-right mr-1">
        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, SortOrder = ViewBag.CurrentSort, CurrentFilter = ViewBag.CurrentFilter }))
    </div>
</div>